*{
	margin:0;
	padding: 0;
}
.owl-prev{
	
    width:40px;
}
.owl-next{
	
    width:40px;	
}
.owl-prev{
	background:none!important;
	float:left;
}
.owl-next{
	background:none!important;
	float:right;	
}
.owl-controls{
	display:position!important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]{
	
	border-radius:0px!important;
	top:0px!important;
}
#owl-carousel1 .owl-nav{
	position: absolute;
    top:40%;
	width:80%;
	float:right;
	left:10%;
	
	z-index:99; 
}
#owl-carousel2 .owl-nav{
	position: absolute;
    top:40%;
	width:120%;
	float:right;
	left:-10%;
	
	z-index:-99; 
}


@media(max-width:768px) {
	
	#owl-carousel1 .owl-dots{position:absolute;bottom:5px;vertical-align:top;left:50%;margin-left:-24px;display:none;     }
	.owl-theme .owl-dots .owl-dot span{margin:4px 4px;height:8px;width:8px;   }
}